/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
/web/db-img/
/nbproject/*
/web/img/icons/Thumbs.db
/web/img/categories/Thumbs.db
/web/img/mail/Thumbs.db
/web/img/placeholder/Thumbs.db
/web/img/Thumbs.db