{% extends 'admin/admin.base.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('admin_report_offer_list') }}" class="active-crumb">Report offer</a></li>
{% endblock %}

{% block body %}
<h1>Report offer</h1>
<div id="jqgrid-wrapper">
        <table id="jqgrid" class="table table-striped table-hover">
                <tr>
                        <td></td>
                </tr>
        </table>
        <div id="jqgrid-pager"></div>
</div>

{% endblock %}

{% block footer %}
    {{ include('admin/common/admin.footer.html.twig') }}
<script>    
$(document).ready(function(){    
//*******************************************
/*	JQGRID INIT
/********************************************/


function rowActions(cellvalue, options, cellobject) {
    
      return "<a title='Moderate' target='_blank' href='" + cellobject[7] + "'><u>Moderate</u></a>  "+
             "<a title='Details'  target='_blank' href='"+cellobject[6]+ "'><u>Details</u></a>  ";
  }

var grid = $('#jqgrid');

if( $('#jqgrid').length > 0 ) {
        grid.jqGrid({
                url: '{{ path('admin_report_offer_jsondata') }}',
                mtype: 'GET',
                datatype: 'jsonp',
                colModel:[
                        { name:' ', width:130, fixed:true, editable:false, sortable:false, formatter:rowActions },
                        { name:'Id', index:'ro.id', width:0, editable:false, sortable:false, hidden: true },
                        { name:'Reporter', index:'ro.report', width: 200, editable:false, sortable:true },
                        { name:'Message', index:'ro.message', width: 400, editable:false, sortable:true },
                        { name:'Created', index:'ro.createdAt', width: 130, editable:false, sortable:true }
                ],
                height: 550,
                rowNum: 20,
                rowList: [20, 50, 100],
                pager: 'jqgrid-pager',
                sortname: 'ro.createdAt',
                viewrecords: true,
                sortorder: "desc",
                multiselect: false
        });
}

}); // end ready function
</script>    
    
{% endblock %}

