{% extends "base.html.twig" %}

{% block body %}
        <div class="main-header ">
            <img src="/img/fototutorial.jpg" alt="rent me heading." class="img-responsive max-1600 max-320"/>
            <img src="/img/foto-rwd.jpg" alt="rent me heading." class="img-responsive max-1600 min-320"/>
            <div class="container rent-heading help-heading">
                <div class="row">
                    <div class="col-sm-8 text-white">
                        <h1>Foto- & Videotutorial</h1><br>
                        <a data-toggle="modal" data-target="#reg-modal" href="#" class="button-black backgound-yellow text-black">Jetzt kostenlos anmelden</a>
                    </div>
                </div>
            </div>
        </div>
      </div>
      </header>
      <section>
        <div class="container background-white rent-container">
            <select class="mobile-menu-select desktop-hide" name="forma" onchange="location = this.options[this.selectedIndex].value;">
              <option value="pages/info">Fototurial</option>
              <option value="info">hey! Portrait-Videos</option>
            </select>
            <nav class="crumbs">
                <ul class="col-xs-10">
                    <li><a href="{{ path("start-page") }}">hey! VIENNA</a></li>
                    <li><a href="{{ path("tutorial-photo") }}" class="active-crumb">Foto- & Videotutorial</a></li>
                </ul>
            </nav>
            <span class="clearfix"></span>
            <!-- Left nav -->
            <div class="row help-page">
                <div class="col-sm-3 sidebar mobile-hidden">
                    <nav>
                        <ul>
                          <li><a href="{{ path("tutorial-photo") }}" class="active-link">Fototutorial</a></li>
                          <li><a href="{{ path("tutorial-video") }}">hey! Portrait-Videos</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-9 content">
                    <p class="text-bold">Lich, Licht und noch mehr Licht</p>
                    <p>Die Lichtstimmung in deiner Szene ist wohl der wichtigsten Faktoren für ein gelungenes Produktfoto. Wenn dein Equipment in einem Keller steht, bring es ans Tageslicht! Fotografiere draußen... Wenn du in deiner Wohnung fotografierst, dann öffne die Jalousien und suche dir einen Platz, mit viel natürlichem Tageslicht. Kunstlicht solltest du eher vermeiden - es ist meistens besser auf natürliches Licht zu setzen.</p>
                    <p class="text-bold">Fokussiere auf das Wesentliche</p>
                    <p>Ein Bild in dem viel anderes Zeug im Hintergrund zu sehen ist, funktioniert meist weniger gut (außer du bist ein Fotokünstler natürlich ;-). Es sollte nur dein Equipment, vor einem angenehmen, ruhigen Hintergrund zu sehen sein.</p>
                    <p class="text-bold">Finde deinen Blick-Winkel</p>
                    <p>Dein Equipment wird aus unterschiedlichen Winkeln sehr unterschiedlich wirken. Am besten du experimentierst hier ein wenig um die ideale Perspektive zu finden. Tipp: Du kannst dein Equipment einmal vollständig zeigen und in weiteren Aufnahmen verschiedene Details hervorheben.</p>
                     <p class="text-bold">Persönlichkeit</p>
                    <p>Hast du ein Equipment mit besonderen Charakter zu vermieten? Dann kannst du seine Persönlichkeit durch die Wahl von Hintergrund/Umgebung besser zur Geltung bringen. Schöne Close-Ups werten dein Objekt zusätzlich auf.</p>
                     <p class="text-bold">Dein 1. Foto ist das Wichtigste</p>
                    <p>Wenn andere durch viele verschiedene Angebote scrollen, solltest du sicher gehen, dass dein Foto heraussticht. Daher ist die Wahl deines ersten Fotos ausschlaggebend. Suche dir hier am besten ein Foto das am besten zu deiner Beschreibung passt und am meisten den oben beschriebenen Punkten entspricht.</p>
                </div>
            </div>
      </section>
        <span class="add-margin mobile-hidden"></span>
      </div>
{% endblock %}
