{% extends "base.html.twig" %}

{% block body %}
    <div class="main-header ">
        <img src="/img/fototutorial.jpg" alt="rent me heading." class="img-responsive max-1600 max-320"/>
        <img src="/img/foto-rwd.jpg" alt="rent me heading." class="img-responsive max-1600 min-320"/>
        <div class="container rent-heading help-heading">
            <div class="row">
                <div class="col-sm-8 text-white">
                    <h1>Foto- & Videotutorial</h1><br>
                   <a data-toggle="modal" data-target="#reg-modal" href="#" class="button-black backgound-yellow text-black">Jetzt kostenlos anmelden</a>
                </div>
            </div>
        </div>
    </div>
  </div>
    </header>
  <section>
    <div class="container background-white rent-container">
        {# TODO #}
        <select class="mobile-menu-select desktop-hide" name="forma" onchange="location = this.options[this.selectedIndex].value;">
          <option value="pages/info">Fototurial</option>
          <option value="info">hey! Portrait-Videos</option>
        </select>
        <nav class="crumbs">
            <ul class="col-xs-10">
                <li><a href="{{ path("start-page") }}">hey! VIENNA</a></li>
                <li><a href="{{ path("tutorial-video") }}" class="active-crumb">Foto- & Videotutorial</a></li>
            </ul>
        </nav>
        <span class="clearfix"></span>
        <!-- Left nav -->
        <div class="row help-page">
            <div class="col-sm-3 sidebar mobile-hidden">
                <nav>
                    <ul>
                      <li><a href="{{ path("tutorial-photo") }}">Fototutorial</a></li>
                      <li><a href="{{ path("tutorial-video") }}" class="active-link">hey! Portrait-Videos</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-9 content">
                <p class="text-bold">Als Dienstleister/Talent zu deinem ersten Portrait-Video</p>
                <p>Ein Bild sagt mehr als tausend Worte - Mehr aber noch als ein Bild ist ein Video die beste Möglichkeit um auf dich und deine Arbeit aufmerksam zu machen. Bei der hey! sharing community hast du jetzt die Möglichkeit ein kurzes, sympathisches Portrait-Video anfertigen zu lassen um dich und dein Können im besten Licht zu präsentieren!</p>
                <p class="text-bold">Die 3 Arten von Videos bei der hey! sharing community</p>
               <ul>
               <li>Vereinbare einen Casting Termin: Wir veranstalten in Wien regelmäßig Casting Termine an tollen Locations mit interessantem Flair. (Diese Option ist derzeit nur in Wien möglich).</li>
<li>Wir kommen zu deiner Location: Benötigst du für deinen Beruf eine besondere Location (z.B. dein eigenes Yogastudio) dann kommen wir gegen einen kleinen Aufpreis zu dir. (Diese Option ist derzeit nur in Wien möglich).</li>
<li>Du filmst das Video und schickst uns das Material dazu. Unsere Post-Production kümmert sich dann um den professionellen Schliff.</li>
               </ul>
<p class="text-bold">Wie kommst du zu einem Video?</p>
               <ul>
               <li>Registriere dich zunächst auf unserer Plattform als Dienstleistungs-Anbieter.</li>
<li>1. Möglichkeit: Für jede Buchung über unsere Plattform erhälst du Punkte. Bei ausreichender Punktezahl erhälst du Anspruch auf ein kostenloses Portrait-Video (Bitte beachte, dass es sich dabei um echte Buchungen durch Kunden handeln muss - Bei missbräuchlichem Verhalten unseres Angebots, werden wir User auf der Plattform sperren).</li>
<li>2. Möglichkeit: Finden wir dich und dein Plattform-Profil besonders spannend, wird sich jemand von unserem Team bei dir melden, um einen Video-Termin zu vereinbaren.</li>
<li>3. Möglichkeit: Du nimmst als registrierter Dienstleistungs-Anbieter an einem unserer Gewinnspiele teil.</li>
               </ul>
                 <p class="text-bold">Nutzung eines hey! Portrait-Videos für andere Zwecke</p>
                <p>Das hey! Portrait-Video dient in erster Linie dazu, dein Angebot  auf der hey! sharing community besser zu vermarkten und deine Chancen auf Buchungen zu verbessern. Solange du als Anbieter bei der hey! sharing community aktiv bist, kannst du das Online-Video (gehosted auf Vimeo & Youtube), aber auch auf anderen Websites und Social Media Kanälen (Facebook, Twitter etc.) verwenden.</p>
                <p class="text-bold">Folgende Fragen werden wir dir im Video stellen</p>
                   <ul>
               <li>Stell dich bitte kurz vor.</li>
<li>Was genau bietest du an?</li>
<li>Was sagen Andere über dich? (z.B. Kunden schätzen meine Kreativität, Zuverlässigkeit etc.)</li>
<li>Wie arbeitest du am liebsten? (z.B. am liebsten im Büro, im Team, lieber am eigenen Arbeitsplatz etc.)</li>
<li>Was kann man bei dir erwarten? (z.B. deine Zielgruppe, was können deine Kunden von dir erwarten)</li>
<li>Ein Satz zum Schluss. (z.B. Persönliches Statement, Etwas das du Kunden noch mitgeben möchtest..)</li>
               </ul>
                 <p class="text-bold">Hier noch eine Auswahl toller Videos bei der hey! sharing community</p>
                        <ul>
               <li><a href="#">Fitnesstrainer Armin</a></li>
<li><a href="#">Hundverhaltenstrainerin Alex</a></li>
               </ul>
            </div>
        </div>
  </section>
    <span class="add-margin mobile-hidden"></span>
  </div>
{% endblock %}
