<li id="kaup-hidden">
    <p class="display-block"><a class="haup-link">Equipment mieten / hey! rentme</a></p>
    <span id="close-haup" class="haup-close-icon"></span>
    {% for cat in categories %}
        
        <a href="{{ path('catchall', { 'content': cat.slug }) }}">
            <p>
                <img src="{{ cat.imageUrl }}" class="category-drop-down" alt=""/>
                {{ cat.name }}
            </p>
        </a>
    {% endfor %}
</li>
