<select class="mobile-menu-select desktop-hide" name="forma" onchange="location = this.options[this.selectedIndex].value;">
    <option value="/heyrentme">HAUPKATEGORIE</option>
    {% for cat in categories %}
        <option value="{{ path('catchall', { 'content': cat.slug }) }}">{{ cat.name }}</option>
    {% endfor %}
</select>
