{% if app.user != null %}
    <div class="header-loged-user">
        Du bist eingeloggt als  {{ app.user.username }}
        | <a href="path('fos_user_security_logout')" >ausloggen</a>
    </div>
{% endif %}
