{% if app.user != null %}
    <div class="header-loged-user">
        You are logged as {{ app.user.username }}
        |
        <a href="path('fos_user_security_logout')" >logout</a>
    </div>
{% endif %}
