<div class="col-md-3 user-area">
    <div class="support">
        <p class="head">{{ user.Name }}</p>
        <a href="{{ path('profil') }}">            
            <img alt ="" src="{{ user.ProfilePicture(true, image_url_prefix) }}" class="user-avatar-profile" style="max-width: 140px;" />
        </a>                
        <a href="{{ path('einstellungen') }}" class="button-black" >Einstellungen</a>                    
    </div>
</div>



