{% extends "base.html.twig" %}
{% block body %}

    <div class="main-header ">
        <img src="/img/allgemein-final/hilfe.jpg" alt="rent me heading." class="img-responsive max-1600 max-320"/>
        <img src="/img/allgemein-final/hilfe_small.jpg" alt="rent me heading." class="img-responsive max-1600 min-320"/>
        <div class="container rent-heading help-heading">
            <div class="row">
                <div class="col-sm-8 text-white">
                    <h1>Hilfe & FAQ</h1><br>
                    <a data-toggle="modal" data-target="#reg-modal" href="#" class="button-black backgound-yellow text-black">Jetzt kostenlos mitmachen!</a>
                </div>
            </div>
        </div>
    </div>
  </header>
  <section>
    <div class="container background-white rent-container">
        <select class="mobile-menu-select desktop-hide" name="forma" onchange="location = this.options[this.selectedIndex].value;">
  <option value="hilfe_equipment_mieten.php">Equipment mieten</option>
      <option selected="selected" value="hilfe_equipment_anbieten.php">Equipment anbieten</option>
      <option value="hilfe_talent_buchen.php">Talent buchen</option>
      <option value="hilfe_talent_anbieten.php">Talent anbieten</option>
      <option value="faq.php">FAQ</option>
        </select>
        {{ render(controller('AppBundle:Static:breadcrumb', { "pageName":"hilfe_faq_euipment_anbieten" } )) }}
        <span class="clearfix"></span>
        <!-- Left nav -->
        <div class="row help-page">
            {{ render(controller('AppBundle:Static:leftmenu', { "pageName":"hilfe_faq_euipment_anbieten" } )) }}
        <div class="col-md-9 content blog-content">
            <div class="row">
                <div class="col-md-4">
                    <div>
                        <h3>Equipment anbieten</h3>
                        <span class="number-one"></span>
                        <img src="/img/hilfe-final/equipment_anbieten.jpg" alt=""/>
                        <p>Die Art und Weise wie dein Equipment präsentiert und beschrieben wird, hat maßgeblichen Einfluss auf die Buchung. Viele positive Bewertungen führen in Folge dazu, noch mehr Buchungen zu bekommen. Wir helfen dir mit Anleitungen und einem Qualitäts-Check, dich und dein Angebot von der besten Seite zu zeigen!
                        </p>                        
                        <ul>
                            <li>In wenigen Minuten ist dein Equipment online und bereit zur Miete.</li>
                            <li>Du legst die Konditionen und Verfügbarkeit selbst fest.</li>
                            <li>Die Teilnahme ist kostenlos und unverbindlich.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <h3>Equipment vermieten</h3>
                        <span class="number-two"></span>
                        <img src="/img/hilfe-final/equipment_vermieten.jpg" alt=""/>
                        <p>Von der Anfrage bis zur Equipment-Übergabe - unsere Plattform führt dich Schritt für Schritt durch die Buchung. Kommuniziere als Vermieter stets zuverlässig und zeitnah mit deinen Mietern.
</p>
                         
                        <ul>
                            <li>Du entscheidest bei jeder Anfrage selbst, ob du Dein Equipment auch an die Person vermieten möchtest.</li>
                            <li>Kleine Schäden des Equipments sicherst du durch eine individuell festgelegte Kaution ab.</li>
                            <li>Die Übergabe solltest Du immer persönlich übernehmen, dabei lernst du deinen Mieter kennen und du stellst auch sicher, dass die Verleihgebühr, Kaution und Personalausweis mitgebracht wurden.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <h3>Nach der Rückgabe</h3>
                        <span class="number-three"></span>
                        <img src="/img/hilfe-final/nach_rueckgabe.jpg" alt=""/>
                        <p>Der sorgsame Umgang und die verlässliche Übergabe sind der Schlüssel der sharing community! Entsprechende Bewertungen helfen dabei das gewohnte hey! Sharing Erlebnis zu gewährleisten.
                        </p>
                        <ul>
                            <li>Mit unserem Übergabeprotokoll ist die Rückgabe einfach und sicher. Im unwahrscheinlichen Fall deckt unsere hey! sharing community Garantie* größere Schäden ab.</li>
                            <li>Bewertest du deine Mieter zeitnah, sorgst du für Transparenz und Vertrauen in der Community.</li>
                            <li>Mit jeder Vermietung lernst du neue Menschen kennen, unterstützt die Gemeinschaft und trägst durch Ressourcenschonung auch zum Umweltschutz bei.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <a style="width: 100%; margin: 20px 0; margin-bottom:30px; padding: 6px 0;" class="green-big-button" data-toggle="modal" data-target="#choose-offer-detail" href="#">Jetzt Equipment anbieten</a>
                    {% else %}
                        <a style="width: 100%; margin: 20px 0; margin-bottom:30px; padding: 6px 0;" class="green-big-button" href="{{ path("rental") }}">Jetzt Equipment anbieten</a>
                    {% endif %}
                </div>
              <div>              
                <p style="font-size:13px;">*) Die hey! sharing community Garantie ist für die Schadenfälle vorgesehen, in denen Deine Kaution nicht mehr ausreicht. Sie deckt im Streitfall den aktuellen Wiederbeschaffungswert, jedoch max. bis zu € 750,- ab. Unser Serviceteam hilft Dir im Fall des Falles rasch und unkompliziert. Wichtig sind dabei die saubere Dokumentation und Übermittlung des Übergabeprotokolls, Ausleihvereinbarung und entsprechenden Angaben zum Fall wie Bilder, Beschreibung des Hergang. Wir empfehlen auch die vorherige Konsultation der Haushaltsversicherung zwecks Deckung des Schadens.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  <span class="add-margin mobile-hidden"></span>
  </div>

{% endblock %}