.init-hidden {
    display: none;
}


#choose-offer-detail input[type="button"] {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.header-loged-user {
    width: 100%;
    height: 40px;
    margin-left:auto;
    margin-right:auto;
    color: #ffffff;
    text-align: right;
    padding-top: 10px;
    padding-right: 20%;
    background-color: #000000;
}
div.err-msg  ul  li {
    color: #c00;
}

/* 
 * TODO: refactor long lists of id-prefixed selectors below
 */
#reg-modal .modal-dialog,
#login .modal-dialog,
#emailConfirmed .modal-dialog,
#passwordReset .modal-dialog,
#passwordRecovery .modal-dialog,
#inquiry-modal .modal-dialog,
#question-modal .modal-dialog,
#melden .modal-dialog {
    max-width:450px
}
#reg-modal .modal-content,
#login .modal-content,
#passwordRecovery .modal-content,
#passwordReset .modal-content,
#emailConfirmed .modal-content,
#inquiry-modal .modal-content,
#question-modal .modal-content,
#melden .modal-content{
    border-radius:0;
    box-shadow:none;
    max-width:450px
}
#passwordRecovery .modal-title,
#feedback-modal .modal-title,
#reg-modal .modal-title,
#login .modal-title,
#passwordRecovery .modal-title,
#passwordReset .modal-title,
#emailConfirmed .modal-title,
#question-modal .modal-title,
#inquiry-modal .modal-title,
#melden .modal-title{
    text-align:center;
    font-size:34px;
    font-weight:bold;
    margin-bottom:30px;
    margin-top:40px;
    letter-spacing:1.2px
}
#passwordRecovery input[type="text"],
#feedback-modal input[type="text"],
#reg-modal input[type="text"],
#login input[type="text"],
#emailConfirmed input[type="text"],
#passwordReset input[type="text"],
#passwordRecovery input[type="text"],
#melden input[type="text"], 
#passwordRecovery input[type="password"],
#feedback-modal input[type="password"],
#reg-modal input[type="email"],
#feedback-modal input[type="email"],
#reg-modal input[type="password"],
#login input[type="password"],
#passwordRecovery input[type="password"],
#passwordReset input[type="password"],
#emailConfirmed input[type="password"],
#melden input[type="password"], 
#passwordRecovery textarea,
#feedback-modal textarea,
#reg-modal textarea,
#login textarea,
#inquiry-modal input[type="text"],
#question-modal input[type="text"],
#question-modal input[type="email"],
#inquiry-modal input[type="email"],
#inquiry-modal textarea,
#question-modal textarea,
#melden textarea{
    display:block;
    width:100%;
    height:48px;
    font-size:15px;
    font-family:'open sans',sans-serif;
    border:transparent;
    background-color:#f9f9f9;
    padding-left:10px;
    margin-bottom:17px;
    color:black;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
    border-top:1px solid #c7c7c7;
    border-left:1px solid #c7c7c7
}
#inquiry-modal textarea,
#question-modal textarea {
    height: auto;
}

#passwordRecovery textarea,
#feedback-modal textarea,
#reg-modal textarea,
#login textarea,
#melden textarea{
    min-height:140px;
    padding-right:10px
} 
#passwordRecovery input[type="submit"],
#feedback-modal input[type="submit"],
#reg-modal input[type="submit"],
#login input[type="submit"],
#passwordRecovery input[type="submit"],
#passwordReset input[type="submit"],
#emailConfirmed input[type="submit"],
#inquiry-modal input[type="submit"],
#question-modal input[type="submit"],
#melden input[type="submit"]{
    background-color:#34b437;
    width:100%;
    height:47px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
    font-size:15px;
    font-weight:bold;
    text-align:center;
    border:none;
    color:white;
    text-transform:uppercase;
    font-family:'open sans',sans-serif;
    margin-bottom:22px
}
#passwordRecovery input[type="submit"]:hover,
#feedback-modal input[type="submit"]:hover,
#reg-modal input[type="submit"]:hover,
#login input[type="submit"]:hover,
#passwordRecovery input[type="submit"]:hover,
#passwordReset input[type="submit"]:hover,
#emailConfirmed input[type="submit"]:hover,
#inquiry-modal input[type="submit"]:hover,
#question-modal input[type="submit"]:hover,
#melden input[type="submit"]:hover{
    background-color:#009103;
    transition:all 300ms ease-in
}

#passwordRecovery input[placeholder],
#feedback-modal input[placeholder],
#reg-modal input[placeholder],
#login input[placeholder],
#passwordRecovery input[placeholder],
#passwordReset input[placeholder],
#emailConfirmed input[placeholder],
#inquiry-modal input[placeholder],
#question-modal input[placeholder],
#melden input[placeholder]{
    font-weight:bold;
    border-color:#c7c7c7;
    font-size:15px;
    font-weight:normal
} 
#passwordRecovery button.close,
#feedback-modal button.close,
#reg-modal button.close,
#login button.close,
#passwordRecovery button.close,
#passwordReset button.close,
#emailConfirmed button.close,
#melden button.close{opacity:1}.rent-dialog p{
    font-family:'open sans',sans-serif !important;
    text-transform:uppercase;
    margin-left:20px
}

.rent-dialog p:last-child {
margin-bottom:10px;
}

#upload.imageUpload {
    width: 220px;
    margin: 0px auto 0px;
    padding: 2px;
}

#upload.imageUpload img {
    margin-left: 2px;
    margin-right: 2px;
}

#userImageUpload {
    padding: 0px;
    border: none;
    margin-right: 25px;
    margin-left: 25px;
    
}

#userImageUpload:hover {
    background-color: #ffffff;
}

#upload.imageUpload {
    
    margin: 0px;
}

#upload.imageUpload ul li p {
    color: #333;
    left: 0px;
}

#upload.imageUpload ul li {
    height: 90px;
}

#upload.imageUpload ul li.error p {
    color: #ff0000;
}


img.profileImage {    
  max-width: 207px;
  max-height: 206px;
  border-radius: 50%;
}

img.headerProfileImage {
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
}


.chbox-holder input[type="radio"] {
  display: none;
}
.chbox-holder input[type="radio"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  background: url('../img/check_radio_sheet.png') -38px top no-repeat;
  cursor: pointer;
}
.chbox-holder input[type="radio"]:checked + label span {
  background: url('../img/check_radio_sheet.png') -57px top no-repeat;

}

.blog-container > .row div img.blogimg {
    max-width: 300px;
    max-height: 300px;
}
.blog-img-container {
    width: 300px;
    height: 300px;
}

.select-box {
    width: 184px;
    margin-top:3px;
}


.check-box {
    margin-top:3px;
}


/* class missing from main.css (?) */
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    height: auto;
    max-width: 100%;
    width: 100%;
}

.btnSaveStatus{
    cursor: pointer;
}

ul.error {
    color: #ff0000;
    margin-top: 5px;
}

ul.correct {
    color: #5e8014;
    margin-top: 5px;
}

div.clear {
    clear:both;
}

#deleteOffer{
    text-align: center;
    font-weight: normal;
}

#deleteOffer h1 {
    font-size: inherit;
    font-weight: bold;    
}


#deleteOffer .button-red {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    
    white-space: nowrap;
    
    background-color: red;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    color: white;
    font-family: "Open Sans",sans-serif;
    font-size: 1.03em;
    font-weight: bolder;
    width: 200px;
    padding: 12px 20px;
    text-transform: uppercase;
    display: inline-block;
    margin-top:10px;
    
}

.control-readonly {
    padding-top: 7px;
}

.control-readonly p {
    max-width: 50%;
}

div.redButtonAdmin {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    
    white-space: nowrap;
    
    background-color: red;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    color: white;
    font-family: "Open Sans",sans-serif;
    font-size: inherit;
    font-weight: bolder;
    min-width: 100px;
    padding: 6px 20px;
    text-transform: uppercase;
    display: inline-block;
    margin-left:20px;
    cursor:pointer;
}

div.error{
    color:red;
}

.generatePanel {
    margin-top: 20px;
}

.selecttionPanel{
    margin-bottom: 20px;
}

img.testimonialDisplayImg {
    max-width: 235px;
    max-height: 235px;
}


.form-horizontal .page {
    background-color: #f5f5f5;
    border-bottom: 1px solid #ababab;
    margin-bottom: 25px;
}

img.thmb {
    max-width: 150px;
}

a.thmb-link {
    display: block;
    float: left;
    margin-right: 5px;
}

.main-categories .row div img.small-eq-list {
    max-width:100%;
    max-height: 100%;
}

.main-categories .row div div.img-container-eq-small {
    width: 262px;
    height: 196px;
}

.eq-details-avatar {
    width: 140px;
    height: 140px;
}

img.user-avatar-profile {    
    border-radius: 50%;
    margin-bottom: 15px;
    margin-right: 5px;
    margin-top: 5px;
}

.modal-dialog {
	/* width: 90%; */
    max-width: 600px;
}
#inquiry-modal .modal-dialog,
#question-modal .modal-dialog{
    max-width: 600px;
}


.modal-content {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    outline: 0 none;
    position: relative;
}

.delete-offer .content-modal {
    padding: 50px 0 40px;
}

.btn-danger:hover {
    text-decoration: none;
}

.delete-btn {
    display: inline-flex;
}


.max-inputs input[type="email"] {
    width:100%
}

.category-drop-down {
    max-width: 170px;
}

input.no-image {
    background-image: none;
}

input.input-image {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADEAAAAxCAMAAABEQrEuAAAAyVBMVEXwyBTwyBbwyRrwyhvxyh7xyyDxyyPxzCTxzCbxzSryzizyzi7y0DXz1Ejz1En02Fb12V712mD12mH122T13Gn23Wz23W323nD23nL233X233j34YD34oL34oT344b344f344j45Ir45Iv45I745Y/45ZD455j455n56aH56qb777r777z777378L778cH78sj88sr89M789ND89NH89db999v9+OL9+eb9+ef++uz+++3+/PP+/PT+/fX//fj//vn//vz///7////fQXjyAAAAxElEQVR42u3LSxNCUBjGcYpSdCVFF90U0kW5FXE63/9DNY3MsDrHwoyF/+Z93sWPqKurbOT09g6uIokNmqfPWVlfoNHAFcdo8DvD+IAJuvE8Gcu4gydE0EpGC0zwxNZNl7vBE6qdLlstRzC86c3+eSbPIEHvCXO9+ijxsLh2Js66owSQ878MUAJKySXJ5EoQU7C+zxYTYwhHxQTlOFQxQRgGUboQhKIiDS1CJf+vQpTQgv0i0y7QUILWI5gp0mmirq6afQH2GB3qNYSssQAAAABJRU5ErkJggg==");
}

html body .dashboard .user-offers .buttons .col-xs-3 {
    text-align: center;
}

.user-upload {
    margin-right: 0px;
}

img.profileImage {
    cursor: default;
}

.disabled2 {
    opacity: 0.3;
    cursor: not-allowed;
}
.button-black.backgound-yellow.text-black.disabled2:hover, .disabled2:hover {
    opacity: 0.3;
    cursor: not-allowed;
}
.button-black.backgound-yellow.text-black.disabled2:hover {
    background-color: #f0c814 !important;
    color: black !important;
}

.dropdown-menu-span li a {
    color: #f5f5f5;
    background: #333;
}

.product-detail .product-info {
    clear: both;
}

#img-list-main {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

#img-list li.thumb, #img-list-main li.thumb {
    display: inline-block;
    margin-left: 10px;
    height: auto;
    position: relative;
}
#img-list li.thumb img, #img-list-main li.thumb img {
    max-width: 100px;
    max-height: 75px;
}

#img-list li.thumb img.main, #img-list-main li.thumb img.main {
    position: absolute; 
    top: -4px; 
    left: -4px;
}
#img-list li.thumb span, #img-list-main li.thumb span {
    background-image: none;
    display: inline-block;
}
#img-list .gauge canvas, #img-list-main .gauge canvas {
    display: block;
    top: 13px;
    left: 25px;
}
#img-list li.thumb .status, #img-list-main li.thumb .status {
    text-align: center;
    font-family: sans-serif;
}
#img-list li.thumb .gauge, #img-list-main li.thumb .gauge {
    display: block; 
    width: 100px; 
    height: 75px;
}

#drop.disabled, #drop-main.disabled {
    opacity: 0.3;
    cursor: not-allowed;
}
#drop.disabled a, #drop-main.disabled a {
    cursor: not-allowed;
}
#drop.disabled a:hover, #drop-main.disabled a:hover {
    text-decoration: none;
}
p.how-many {
    text-align: center;
}

#drop {
    padding: 10px 50px;
}
#upload {
    margin: 0 auto;
    padding: 0;
}
#drop-main {
    padding: 10px 50px;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
}
#drop-main input {
    display: none;
}
#drop-main a {
    padding: 12px 26px;
    color: #000;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin-top: -2px;
    display: block;    
}

#media-container .media-list span {
    overflow: hidden;
}

#social-share {
    z-index: 200;
}

.product-info .user-avatar.eq-details-avatar {
    border-radius: 50%;
    margin-bottom: 15px;
    margin-right: 5px;
    margin-top: 5px;
    width: 140px;
}

.top-menu-button{
    cursor:pointer;
}

.header-loged-admin{
    float:right;
    color: #333;
    font-size: 14px;
    line-height: 1.42857;
    margin-right: 40%;
    margin-top: 10px;
}

.admin-edit-area {
    width: 370px;
    height: 90px;
}

.date-selector {
    background-position: right;
    background-repeat: no-repeat;
}

.correctPosition {
    left:15px !important;
    width: 200px !important;
}


div.btn-group.bootstrap-select.disabled {
    opacity: 0.5;
    background-color: rgb(20, 20, 20);
}

button {
    padding: 16px;
    background-color: white;
    border-radius: 4px;
    display: inline-block;
    margin-right: 16px;
}

.bootstrap-select .popover-title {
    width: 100%;
}

#filter + .bootstrap-select .dropdown-menu,
#sort + .bootstrap-select .dropdown-menu 
{
    top: 25px !important;
}

.tariff-box {
    padding: 0 16px;    
}
.tariff-box p {
    font-family: 'open sans', sans-serif;
}
#tariff-container {
    margin: 32px 0;
    list-style: none;
    padding: 0;
}
#tariff-container > li.tariff {
    border: 1px solid #888;
    border-radius: 4px;
    margin: 10px 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-family: 'open sans', sans-serif;
    cursor: pointer;
    background-color: #fff;
}


div#panel-quote-group {
    margin-bottom: 0;
    margin-top: 10px;
}
@media (min-width: 1200px) {
    .einzelstunden {
        padding-top: 0;
    }
}
#fragestellenbut {
    margin-top: 20px;
}

button#tariff-save, button#tariff-delete {
    font-family: 'open sans', sans-serif;    
}

.adjust-to-rabatt {
    padding-left: 64px;
}

.adjust-to-rabatt-small {
    padding-left: 44px;
}

.adjust-to-rabatt-small2{
    padding-left:12px;
}

.right-side .offer-dates .date-picker .white-big-button {
  margin: 23px 0;
  width: 91%;
  margin-right: auto;
  margin-left: auto;
  font-size: 24px;
  border: none;
  padding: 6px 0;
}

.white-big-button {
  background-color: #ffffff;
  font-size: 24px;
  text-align: center;
  color: #000000;
  font-family: 'Roboto Slab', sans-serif;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-weight: bolder;
  display: inline-block;
}

.white-big-button:hover {
  background-color: #34b437;
  transition: all 300ms ease-in;
  text-decoration: none;
  color: white;
}

.left-side .user-notes.shop-notes .white-big-button {
  margin: 0;
}

.right-side .offer-dates .date-picker .white-big-button {
    width: 100%;
}

.einzelstunden .panel-heading {
    background-color: #34b437;
    
}

.einzelstunden .panel-heading  p {
    color: #fff;
}