<select class="mobile-menu-select desktop-hide" name="forma" onchange="location = this.options[this.selectedIndex].value;">
    <option value="pages/info">KUNDEINFOS</option>
    <option value="info">AGB</option>
    <option value="datenschutz">DATENSCHUTZ</option>
    <option value="presse">PRESSE</option>
    <option value="kontakt">KONTAKT</option>
    <option value="impressum">IMPRESSUM</option>
  </select>
  <nav class="crumbs">
      <ul class="col-xs-10">
          <li><a href="{{ path('start-page') }}">hey! TSC</a></li>
          <li><a href="{{ path('rentme') }}">hey! rentme</a></li>
          <li><a href="{{ path(pageName) }}" class="active-crumb">{{ pageNameShort }}</a></li>
      </ul>
  </nav>