{% extends "base.html.twig" %}
{% block body %}
        
            
    <div class="main-header "> 
        <img src="/img/allgemein-final/kundeninfos.jpg" alt="rent me heading." class="img-responsive max-1600 max-320"/> 
        <img src="/img/allgemein-final/kundeninfos_small.jpg" alt="rent me heading." class="img-responsive max-1600 min-320"/>
      <div class="container rent-heading help-heading">
        <div class="row">
          <div class="col-sm-8 text-white">
            <h1>Kundeninfos</h1>
            <br>
            <a data-toggle="modal" data-target="#reg-modal" href="#" class="button-black backgound-yellow text-black">Jetzt kostenlos mitmachen!</a>
        </div>
      </div>
    </div>
    </div>
    </header>
    <section>
    <div class="container background-white rent-container">
      <select class="mobile-menu-select desktop-hide" name="forma" onchange="location = this.options[this.selectedIndex].value;">
        <option value="kundeninfos_presse.php">Presse</option>
        <option selected="selected" value="kundeninfos_kontakt.php">Kontakt</option>
        <option value="kundeninfos_impressum.php">Impressum</option>
        <option value="kundeninfos_agb.php">AGB</option>
      </select>
      {{ render(controller('AppBundle:Static:clientInfoBreadcrumb', { "pageName":"kundeninfos_kontakt", "pageNameShort":"Kontakt" } )) }}
      <span class="clearfix"></span> 
      <!-- Left nav -->
      <div class="row help-page">
        {{ render(controller('AppBundle:Static:clientInfoLeftmenu', { "pageName":"kundeninfos_kontakt" } )) }}
        <div class="col-sm-9 content">
          <p class="text-bold">Kontakt</p>
          <p>hey! The sharing community GmbH<br>
            Zentagasse 40-42/1/17<br>
            A-1050 Vienna | Austria<br>
            Mail: <a href="mailto:hello@heysharing.com">hello@heysharing.com</a><br>
            Support: <a href="mailto:support@heysharing.com">support@heysharing.com</a> <br>
            <br>
            <span style="font-weight:bold; font-family:'open sans',sans-serif;">Office Vienna</span><br>
            Impact Hub  | Lindengasse 56  | <br>
            A-1070 Vienna | Austria<br>
            <br>
            Geschäftsführer: Robert Ladkani, MA </p>
        </div>
      </div>
      </section>
      <span class="add-margin mobile-hidden"></span> </div>
{% endblock %}
