{% extends "base.html.twig" %}
{% block body %}
    <div class="main-header "> 
        <img src="/img/allgemein-final/kundeninfos.jpg" alt="rent me heading." class="img-responsive max-1600 max-320"/> 
        <img src="/img/allgemein-final/kundeninfos_small.jpg" alt="rent me heading." class="img-responsive max-1600 min-320"/>
      <div class="container rent-heading help-heading">
        <div class="row">
          <div class="col-sm-8 text-white">
            <h1>Kundeninfos</h1>
            <br>
            <a data-toggle="modal" data-target="#reg-modal" href="#" class="button-black backgound-yellow text-black">Jetzt kostenlos mitmachen!</a>
        </div>
      </div>
    </div>
    </div>
    </header>
    <section>
    <div class="container background-white rent-container">
      {{ render(controller('AppBundle:Static:clientInfoBreadcrumb', { "pageName":"kundeninfos_partner", "pageNameShort":"Partner" } )) }}
      <span class="clearfix"></span> 
      <!-- Left nav -->
      <div class="row help-page">
        {{ render(controller('AppBundle:Static:clientInfoLeftmenu', { "pageName":"kundeninfos_partner" } )) }}
        <div class="col-md-9 content">
          <div style="margin-top:0" class="presse">
            <div> <span><a href="http://www.blueminds-company.com" target="_blank"><img src="/img/partner/blueminds.png" alt="The Blue Minds Company"/></a></span>
              <p class="rpartner-description">
              <strong><a href="http://www.blueminds-company.com" target="_blank">The Blue Minds Company</a></strong><br>
              Driving the Energy Transition oder die Kunst Wert zu schaffen. THE BLUE MINDS COMPANY ist Wiens neue Adresse für Geschäftsmodelle rund um die Energietransformation. Mit Research, Consulting und Communications arbeiten wir für und mit Unternehmen an den Herausforderungen des 21. Jahrhunderts. Als Startup Inkubator (<a href="http://blueminds-factory.com" target="_blank">BLUE MINDS FACTORY</a>) finden, fordern und fördern wir Startups als kreative Architekten.
              </p>
            </div>
			<div> <span><a href="http://www.storeme.at" target="_blank"><img src="/img/partner/storeme.png" alt="Store me"/></a></span>
              <p class="rpartner-description">
              <strong><a href="http://www.storeme.at" target="_blank">StoreMe</a></strong><br>
              StoreMe ist eine Lagerplatzbörse, die das Teilen von Lagerplatz ermöglicht. Stauräume, seien es unausgelastete Kellerabteile, Garagen oder sonstige leerstehende Räumlichkeiten, können auf der Plattform inseriert und angeboten werden. Über eine Suchfunktion können Menschen einen geeigneten Lagerplatz in ihrer unmittelbaren Umgebung finden. Preis, Laufzeit sowie Übergabedatum werden direkt zwischen Mieter und Vermieter vereinbart. Neben einer integrierten Lagerverwaltung für Vermieter, werden Lagerversicherung und Transport für Mieter angeboten.
              </p>
            </div>
			<div> <span><a href="http://www.zentrum-nachhaltigkeit.at" target="_blank"><img src="/img/partner/zfn.jpg" alt="zentrum für nachhaltigkeit"/></a></span>
              <p class="rpartner-description">
              <strong><a href="http://www.zentrum-nachhaltigkeit.at" target="_blank">Kompetenz-Zentrum für wirtschaftliche Nachhaltigkeit und Management</a></strong><br>
             Das Expertennetzwerk in Österreich und CEE, das Führungskräfte, Know-how, und Unternehmen verbindet zur Entwicklung ganzheitlicher Lösungen für langfristig nachhaltiges Wirtschaften. Investitionen in Nachhaltigkeit sind Strategie-Entscheidungen, die einerseits zu internen Veränderungen in Unternehmen und Institutionen führen als auch andererseits deren Wahrnehmung und Reputation in der Öffentlichkeit verändern. Unsere ExpertInnen bieten Unternehmenslösungen für nachhaltiges Wirtschaften und verbinden dabei alle Aspekte der Nachhaltigkeit für einen dauerhaften Unternehmenserfolg. Dabei gilt es, die ideale Balance zwischen ökonomischen, ökologischen und sozialen Gesichtspunkten zu finden. Diese Balance trägt maßgeblich zur Wettbewerbsfähigkeit und wirtschaftlichen Stabilität im Markt bei. Führungskräfte und Expertinnen arbeiten zusammen, um die Praxis im Bereich nachhaltigem Wirtschaften und Managen gemeinsam zu fördern.
              </p>
            </div>
        </div>
      </div>
      </section>
      <span class="add-margin mobile-hidden"></span> </div>
{% endblock %}
