{% extends "base.html.twig" %}
{% block body %}
    <div class="main-header "> 
        <img src="/img/allgemein-final/kundeninfos.jpg" alt="rent me heading." class="img-responsive max-1600 max-320"/> 
        <img src="/img/allgemein-final/kundeninfos_small.jpg" alt="rent me heading." class="img-responsive max-1600 min-320"/>
      <div class="container rent-heading help-heading">
        <div class="row">
          <div class="col-sm-8 text-white">
            <h1>Kundeninfos</h1>
            <br>
            <a data-toggle="modal" data-target="#reg-modal" href="#" class="button-black backgound-yellow text-black">Jetzt kostenlos mitmachen!</a>
        </div>
      </div>
    </div>
    </div>
    </header>
    <section>
    <div class="container background-white rent-container">
      {{ render(controller('AppBundle:Static:clientInfoBreadcrumb', { "pageName":"kundeninfos_partner", "pageNameShort":"Partner" } )) }}
      <span class="clearfix"></span> 
      <!-- Left nav -->
      <div class="row help-page">
        {{ render(controller('AppBundle:Static:clientInfoLeftmenu', { "pageName":"kundeninfos_partner" } )) }}
        <div class="col-md-9 content">
          <div style="margin-top:0" class="presse">
		  
		   <div> <span><a href="http://www.hochzeitskiste.info" target="_blank"><img src="/img/partner/hochzeitskiste.png" alt="Hochzeitskiste"/></a></span>
              <p class="rpartner-description">
              <strong><a href="http://www.hochzeitskiste.info" target="_blank">HOCHZEITSKISTE</a></strong><br>Die Hochzeitskiste erspart dir das mühsame Abklappern von Branchenbüchern, denn sie sucht für dich den passenden Hochzeitsdienstleister.<br>So einfach geht's:
<ul>
<li>- Du füllst ein kurzes Formular aus.</li>
<li>- Wir senden dir kostenlos 1-5 maßgeschneiderte Angebote.</li>
<li>- Du suchst deinen Wunsch-Kandidaten aus.</li>
</ul>
Damit du dich bei der Hochzeitsplanung auf die aufregenden Dinge konzentrieren kannst.
              </p>
            </div>
			
				   <div> <span><a href="http://www.lamie-direkt.at" target="_blank"><img src="/img/partner/lamie.png" alt="Hochzeitskiste"/></a></span>
              <p class="rpartner-description">
              <strong><a href="http://www.lamie-direkt.at" target="_blank">L`AMIE DIREKT</a></strong><br>LAMIE direkt ist der erste reine Online-Anbieter von Versicherungen Österreichs. Durch den Online-Fokus ist LAMIE in der Lage umfassenden Versicherungsschutz zu attraktiven Konditionen anzubieten und bringt dadurch Bewegung in den österreichischen Versicherungsmarkt – einfach, transparent und bequem.
              </p>
            </div>
		  
		     <div> <span><a href="http://www.schraubenfabrik.at/" target="_blank"><img src="/img/partner/schraubenfabrik.jpg" alt="Schraubenfabrik"/></a></span>
              <p class="rpartner-description">
              <strong><a href="http://www.schraubenfabrik.at" target="_blank">Schraubenfabrik</a></strong><br>
              Schraubenfabrik was founded in 2002 as a so-called entrepreneurs center, since the term coworkingspace was not even invented then. Initially relicts of the industrial age, this former manufactory amidst the city is now home to the entrepreneurs and initiatives of the 21st century – for different organizations, doing different jobs, using different tools:
<br><br>
Architects or PR consultants, cooperatives, freelancers or micro-enterprises working with laptops and cell phones. Together with its „brother space“ <a href="http://www.rochuspark.at" target="_blank">Rochuspark</a>, the „cousin“ <a href="http://www.colearning-wien.at" target="_blank">Colearning Wien</a> and our local and international friends and partners, it forms a growing network of like-minded people, a homely atmosphere to work in and an inspiring community to be part of.
              </p>
            </div>
			 <div> <span><a href="http://www.vertical.world" target="_blank"><img src="/img/partner/vertical.jpg" alt="Vertical"/></a></span>
              <p class="rpartner-description">
              <strong><a href="http://www.vertical.world" target="_blank">VERTICAL</a></strong><br>
              Wir haben VERTICAL 2010 in Wien gestartet, da wir coolen Lifestyle mit innovativen Produkten verbinden wollten. Nach unseren Vorstellungen muss das optimale Fahrzeug der Zukunft qualitativ hochwertig, gut designt, flexibel einsetzbar und leistbar sein.  Wie Sie wissen geht es bei Fahrzeugen nach dem Verkauf aber erst richtig los. Durch unsere langjährigen Erfahrungen aus der Automobilindustrie   haben wir gelernt, wie wichtig eine gute Werkstattqualität, eine schnelle Garantieabwicklung oder eine rasche Ersatzteilversorgung sind. Wir haben uns bei VERTICAL "höchste Kundenzufriedenheit" auf die Fahnen geschrieben und freuen uns daher von Ihnen daran gemessen zu werden.
              </p>
            </div>
            <div> <span><a href="http://www.blueminds-company.com" target="_blank"><img src="/img/partner/blueminds.png" alt="The Blue Minds Company"/></a></span>
              <p class="rpartner-description">
              <strong><a href="http://www.blueminds-company.com" target="_blank">The Blue Minds Company</a></strong><br>
              Driving the Energy Transition oder die Kunst Wert zu schaffen. THE BLUE MINDS COMPANY ist Wiens neue Adresse für Geschäftsmodelle rund um die Energietransformation. Mit Research, Consulting und Communications arbeiten wir für und mit Unternehmen an den Herausforderungen des 21. Jahrhunderts. Als Startup Inkubator (<a href="http://blueminds-factory.com" target="_blank">BLUE MINDS FACTORY</a>) finden, fordern und fördern wir Startups als kreative Architekten.
              </p>
            </div>
			<div> <span><a href="http://www.store.me" target="_blank"><img src="/img/partner/storeme.png" alt="Store me"/></a></span>
              <p class="rpartner-description">
              <strong><a href="http://www.store.me" target="_blank">StoreMe</a></strong><br>
              StoreMe ist eine Lagerplatzbörse, die das Teilen von Lagerplatz ermöglicht. Stauräume, seien es unausgelastete Kellerabteile, Garagen oder sonstige leerstehende Räumlichkeiten, können auf der Plattform inseriert und angeboten werden. Über eine Suchfunktion können Menschen einen geeigneten Lagerplatz in ihrer unmittelbaren Umgebung finden. Preis, Laufzeit sowie Übergabedatum werden direkt zwischen Mieter und Vermieter vereinbart. Neben einer integrierten Lagerverwaltung für Vermieter, werden Lagerversicherung und Transport für Mieter angeboten.
              </p>
            </div>
			<div> <span><a href="http://www.unverschwendet.at/" target="_blank"><img src="/img/partner/unverschwendet.png" alt="unverschwendet"/></a></span>
              <p class="rpartner-description">
              <strong><a href="http://www.unverschwendet.at/" target="_blank">Unverschwendet</a></strong><br>
              Unverschwendet steht für kulinarischen Genuss als Lösungsansatz unnötige Lebensmittelverschwendung zu verhindern. Durch traditionelle Verfahren wie Einkochen und Einlegen werden aus überschüssigen, jedoch stets qualitativ hochwertigen und frischen Früchten, Gemüse und Kräutern, in liebevoller Handarbeit Produkte wie Fruchtaufstriche, Gelees, Sirupe und Chutneys hergestellt. Wir schätzen alle Lebensmittel und so werden auch kleinste Mengen vor dem Verderben bewahrt und zu kreativen Geschmackserlebnissen in limitierter Auflage verarbeitet.
              </p>
            </div>
			<div> <span><a href="http://www.zentrum-nachhaltigkeit.at" target="_blank"><img src="/img/partner/zfn.jpg" alt="zentrum für nachhaltigkeit"/></a></span>
              <p class="rpartner-description">
              <strong><a href="http://www.zentrum-nachhaltigkeit.at" target="_blank">Kompetenz-Zentrum für wirtschaftliche Nachhaltigkeit und Management</a></strong><br>
             Das Expertennetzwerk in Österreich und CEE, das Führungskräfte, Know-how, und Unternehmen verbindet zur Entwicklung ganzheitlicher Lösungen für langfristig nachhaltiges Wirtschaften. Investitionen in Nachhaltigkeit sind Strategie-Entscheidungen, die einerseits zu internen Veränderungen in Unternehmen und Institutionen führen als auch andererseits deren Wahrnehmung und Reputation in der Öffentlichkeit verändern. Unsere ExpertInnen bieten Unternehmenslösungen für nachhaltiges Wirtschaften und verbinden dabei alle Aspekte der Nachhaltigkeit für einen dauerhaften Unternehmenserfolg. Dabei gilt es, die ideale Balance zwischen ökonomischen, ökologischen und sozialen Gesichtspunkten zu finden. Diese Balance trägt maßgeblich zur Wettbewerbsfähigkeit und wirtschaftlichen Stabilität im Markt bei. Führungskräfte und Expertinnen arbeiten zusammen, um die Praxis im Bereich nachhaltigem Wirtschaften und Managen gemeinsam zu fördern.
              </p>
            </div>
			<div> <span><a href="http://www.viennawithlocals.at" target="_blank"><img src="/img/partner/viennawithlocals.jpg" alt="Viennawithlocals"/></a></span>
              <p class="rpartner-description">
              <strong><a href="http://www.viennawithlocals.at" target="_blank">Vienna with Locals</a></strong><br>
             VIENNA WITH LOCALS, so heisst die neue Plattform für  innovative und authentische Wien-Touren, die von der Soziologin Astrid Schwarz im Frühling 2015 ins Leben gerufen wurde. 
Mittlerweile findet man auf der Website über 50 verschiedene Wien-Touren, die in 15 verschiedenen Sprachen angeboten werden. 
Angefangen von der „Grusel und Sagentour“  bis hin zum individuellen Workshop in der Porzellanmanufaktur Augarten können sich WienerInnen und TouristInnen ihre persönliche Wien-Aktivität aussuchen.
„Unsere Angebote richten sich an alle, die unsere Stadt Wien er-leben möchten. Sie richtet sich nicht nur an Wien-BesucherInnen, sondern auch an WienerInnen,  die für  neue und inspirierende Abenteuer in ihrer eigenen Stadt offen sind“, so Astrid Schwarz.
Über eine Suchfunktion können spezielle Wien-Touren gefunden, - auf Anfrage auch Wien-packages für Messe-BesucherInnen, Firmen-events und JunggesellInnen-Abschiede erstellt werden.
              </p>
            </div>
        </div>
      </div>
      </section>
      <span class="add-margin mobile-hidden"></span> </div>
{% endblock %}
