{% extends 'admin/admin.base.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('admin_feedback_list') }}" class="active-crumb">Feedback</a></li>
{% endblock %}

{% block body %}
<h1>Feedback</h1>

<br/>
<br/>

<div id="jqgrid-wrapper">
        <table id="jqgrid" class="table table-striped table-hover">
                <tr>
                        <td></td>
                </tr>
        </table>
        <div id="jqgrid-pager"></div>
</div>


<style type="text/css">
    
    #jqgrid tr.jqgrow td{
        word-wrap: break-word; /* IE 5.5+ and CSS3 */
        white-space: pre-wrap; /* CSS3 */
        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        overflow: hidden;
        height: auto;
        vertical-align: middle;
        padding-top: 3px;
        padding-bottom: 3px
    }
</style>

{% endblock %}



{% block footer %}
    {{ include('admin/common/admin.footer.html.twig') }}
<script>    
$(document).ready(function(){    
//*******************************************
/*	JQGRID INIT
/********************************************/

var grid = $('#jqgrid');

if( $('#jqgrid').length > 0 ) {
        grid.jqGrid({
                url: '{{ path('admin_feedback_jsondata') }}',
                mtype: 'GET',
                datatype: 'jsonp',
                colModel:[
                        { name:' ', width:180, fixed:true, editable:false, sortable:false, hidden: true },
                        { name:'Id', index:'f.id', width:1, editable:false, sortable:false, hidden: true },
                        { name:'Name', index:'f.name', width: 100, editable:false, sortable:true },
                        { name:'Email', index:'f.email', width: 100, editable:false, sortable:true },
                        { name:'Subject', index:'f.subject', width: 100, editable:false, sortable:true },
                        { name:'Message', index:'f.message', width: 300, editable:false, sortable:true },
                        { name:'Created at', index:'f.createdAt', align:"right", width: 150, editable:false, sortable:true},
                ],
                height: 300,
                width: 800,
                rowNum: 10,
                rowList: [10, 50, 200],
                pager: 'jqgrid-pager',
                sortname: 'f.createdAt',
                viewrecords: false,
                sortorder: "desc",
                caption: "Feedback",
                multiselect: false,
        });
}

}); // end ready function
</script>    
    
{% endblock %}

