{% extends 'admin/admin.base.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('admin_users_list') }}" class="active-crumb">Users</a></li>
{% endblock %}

{% block body %}
<h1>Users</h1>

<br/>
<br/>

<div id="jqgrid-wrapper">
        <table id="jqgrid" class="table table-striped table-hover">
                <tr>
                        <td></td>
                </tr>
        </table>
        <div id="jqgrid-pager"></div>
</div>


{% endblock %}

{% block footer %}
    {{ include('admin/common/admin.footer.html.twig') }}
<script>    
$(document).ready(function(){    
//*******************************************
/*	JQGRID INIT
/********************************************/


function rowActions(cellvalue, options, cellobject) {
      return   "<a title='Details'             href='users/details/"   +  options.rowId + "'><u>Details</u></a>  ";
  }

var $grid = $('#jqgrid');

if($grid.length > 0 ) {
        $grid.jqGrid({
                url: '{{ path('admin_users_jsondata') }}',
                mtype: 'GET',
                datatype: 'jsonp',
                colModel:[
                        { name:' ', width:180, fixed:true, editable:false, sortable:false, formatter:rowActions, search: false },
                        { name:'Id', index:'u.id', width:1, editable:false, sortable:false, hidden: true, search: false },
                        { name:'Username', index:'u.email', width: 200, editable:false, sortable:true },
                        { name:'Name', index:'u.name', width: 200, editable:false, sortable:true },
                        { name:'Surname', index:'u.surname', width: 200, editable:false, sortable:true },
                        { name:'Enabled', index:'u.enabled', width: 200, editable:false, sortable:true, search: false },
                        { name:'CreationDate', index:'u.createdAt', width: 100, editable:false, sortable:true, search: false },
                        { name:'ModificationDate', index:'u.modifiedAt', width: 100, editable:false, sortable:true, search: false },                        
                ],
                height: 300,
                rowNum: 10,
                rowList: [10, 50, 200],
                pager: 'jqgrid-pager',
                sortname: 'u.username',
                viewrecords: false,
                sortorder: "asc",
                caption: "Users",
                multiselect: false,
        });
        $grid.jqGrid('filterToolbar', {
            stringResult: false,
            searchOnEnter: false,
            defaultSearch: 'cn'
        });
}

}); // end ready function
</script>    
    
{% endblock %}

